* {
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

h2 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.paragraphe_general {
    margin: 0 15vw;
}

canvas {
    margin: 10vh 0 10vh 0;
    display: block;
    justify-content: center;
    
}