* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 5vh;
    text-align: center;
}

p {
    font-size: 1.2em;
}

.text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main{
    max-width: 800px;
    max-height: 400px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}

div input[type="range"], span{
    margin: 10px;
    position: relative;
    display: inline-block;
    left: 20vw;
    bottom: 1480px;;
}

#contain {
    display: flex;
    align-content: center;

}

#barGraph {
    max-width: 800px;
    max-height: 400px;
    margin-left: 25%;
    margin-right: 25%;
}

#myGraph {
    max-width: 800px;
    max-height: 400px;
    margin-left: 25%;
    margin-right: 25%;
}

#pieGraph {
    max-width: 800px;
    max-height: 400px;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width:1300px) {
    div input[type="range"], span{
        position: relative;
        display: inline-block;
        left: 25%;
        bottom: 250vh;
    }    
}

@media screen and (max-width:1440px) {
    div input[type="range"], span{
        position: relative;
        display: inline-block;
        left: 25vw;
        bottom: 300vh;
    }    
}

@media screen and (max-width:2560px) {
    div input[type="range"], span{
        position: relative;
        display: inline-block;
        left: 25vw;
        bottom: 180vh;
    }    
}